@page "/agent"
@using GroqApiLibrary
@using Microsoft.Extensions.AI
@using MyFirstChatUI.Components.Listing
@using MyFirstChatUI.Helpers.Groq
@using MyFirstChatUI.Models
@using System.Text.Json.Nodes
@inject CoffeeData CoffeeDataService
@inject IConfiguration configuration

<PageTitle>Card Display - Home</PageTitle>

<div class="container mx-auto px-4 py-8">
    <div class="text-center mb-8">
        <h1 class="text-4xl font-bold text-gray-800 mb-4">Card Gallery</h1>
        <p class="text-lg text-gray-600">Explore our collection of featured coffees</p>
    </div>

    <CardList Data="Cards" OnLoad="LoadData" IsLoading="isLoading" />
</div>

@code {
    private bool isLoading = false;
    private List<CardData> Cards = [];
    private string apiKey = string.Empty;
    private GroqApiClient chatClient = null!;
    private JsonArray chatHistory = [];

    private async Task LoadData()
    {
        isLoading = true;
        apiKey = configuration["Chat:AI:ApiKey"] ?? throw new InvalidOperationException("Missing configuration: Endpoint. See the README for details");
        chatClient = new GroqApiClient(apiKey!);

        chatHistory = new JsonArray
        {
            new JsonObject
            {
                ["role"] = "system",
                ["content"] = agentPrompt
            }
        };

        var markdownContents = CoffeeDataService.GetMarkdownFileNames();
        foreach (var content in markdownContents)
        {
            chatHistory.Add(new JsonObject
            {
                ["role"] = ChatRole.User.ToString(),
                ["content"] = content,
            });

            var schema = new JsonObject
            {
                ["type"] = "object",
                ["properties"] = new JsonObject
                {
                    ["Title"] = new JsonObject { ["type"] = "string" },
                    ["Description"] = new JsonObject { ["type"] = "string" },
                    ["Tags"] = new JsonObject
                    {
                        ["type"] = "array",
                        ["items"] = new JsonObject { ["type"] = "string" }
                    }
                },
                ["required"] = new JsonArray { "Title", "Tags", "Description" },
                ["additionalProperties"] = false
            };
        }

        StateHasChanged();
        
        isLoading = false;
    }
}