@page "/agent"
@using GroqApiLibrary
@using MyFirstChatUI.Components.Listing
@using MyFirstChatUI.Models
@using System.Text.Json.Nodes
@inject CoffeeData CoffeeDataService
@inject IConfiguration configuration

<PageTitle>Card Display - Home</PageTitle>

<div class="container mx-auto px-4 py-8">
    <div class="text-center mb-8">
        <h1 class="text-4xl font-bold text-gray-800 mb-4">Card Gallery</h1>
        <p class="text-lg text-gray-600">Explore our collection of featured coffees</p>
    </div>

    <CardList Data="Cards" OnLoad="LoadData" IsLoading="isLoading" />
</div>

@code {
    private bool isLoading = false;
    private List<CardData> Cards = [];
    private string apiKey = string.Empty;
    private GroqApiClient chatClient = null!;

    private async Task LoadData()
    {
        isLoading = true;
        apiKey = configuration["Chat:AI:ApiKey"] ?? throw new InvalidOperationException("Missing configuration: Endpoint. See the README for details");
        chatClient = new GroqApiClient(apiKey!);
        StateHasChanged();
        
        isLoading = false;
    }

}
